{
	presets: [
		['env', {
			'targets': {
				'browsers': ['ie >= 11']
			}
		}]
	],
	plugins: [
		'transform-object-rest-spread',
		['transform-runtime', {'polyfill':false, 'regenerator': true}],
		'add-module-exports'
	]
}
